body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-60px;
  width:707px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:59px;
  width:707px;
  height:191px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:707px;
  height:191px;
}
#u1 {
  position:absolute;
  left:2px;
  top:88px;
  width:703px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:660px;
  top:150px;
  width:50px;
  height:30px;
  opacity:0;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
