body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:810px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:50px;
  width:810px;
  height:388px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:388px;
}
#u1 {
  position:absolute;
  left:2px;
  top:186px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:780px;
  top:220px;
  width:30px;
  height:20px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u3 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:780px;
  top:260px;
  width:30px;
  height:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u5 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:780px;
  top:300px;
  width:30px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:780px;
  top:340px;
  width:30px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:780px;
  top:380px;
  width:30px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
