{% extends "layout.html" %}
{% block header %}
<style>
.logo p{
  height: 180px;
  line-height: 180px;
}
.hcl-search-box{
  padding: 0;
}


.hcl-main-box{
  background: #fff;
  margin-top: 30px;
  padding: 2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  color: #666;
}

.hcl-result-list li:hover p{
  /*background: #fcfcfc;*/
  color: #333;
}
.hcl-result-list li:hover i{
  color: #39f;
}
.hcl-result-list li p{
  margin: 0;
  cursor: pointer;
}
.hcl-result-list li b{
  color: #393;
  font-size: 1.2em;
}
.hcl-result-list li i{
  float: right;
}

.hcl-item-box{
  margin: -16px;
  margin-top: 5px;
  padding: 15px 35px;
}

.hcl-item-box span{
  border: 1px #39f solid;
  margin: -1px -1px 0 0;
  display: inline-block;
  width: 7em;
  text-align: center;
  line-height: 3em;
  text-overflow: ellipsis;
  white-space: nowrap;
  /* word-break: break-all; */
  overflow: hidden;
  vertical-align: top;
}
</style>
{% endblock %}



{% block content %}
<div class="hcl-main-box col-sm-8 col-sm-offset-2">

  {% if KeyWords %}
    <ul class="list-group hcl-result-list" id="result-list">
      <p>应用<b>"{{AppName}}"</b>在关键词<b>"{{KeyWords}}"</b>结果的排名情况如下：</p>
	  {% autoescape false %}
      <div class="hcl-item-box">
	  {{Results}}
	  </div>
	  {% endautoescape %}
    </ul>

  {% else %}
            请先输入关键字再查看结果
  {% endif %}

</div>

{% endblock %}
